# secrets
.env
*.env.local

# node / build
node_modules/
portal/dist/
portal/node_modules/
extensions/**/node_modules/
# NOTA: extensions/*/dist SÍ es commiteja (és l'artefacte que Directus carrega a /directus/extensions)

# artefactes de compilació TS
*.tsbuildinfo
portal/vite.config.js
portal/vite.config.d.ts

# dades locals contenidors
pgdata/
directus/uploads/

# sistemes
.DS_Store
*.log